body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
}

img {
	border: 0px;
}

tr {
	font-size: 9pt;
}

table {
	star: expression(this .   align =   'center')
}

html  a:link {
	color: #0E79D0;
	text-decoration: none;
}

html a:active {
	color: #333;
	text-decoration: none;
}

html a:visited {
	color: #333;
	text-decoration: none;
}

html a:hover {
	color: #0E79D0;
	text-decoration: underline;
}

a.link_blue:link {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue:visited {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue:active {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue:hover {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue_table:link {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue_table:visited {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue_table:active {
	color: #4459fc;
	text-decoration: underline;
}

a.link_blue_table:hover {
	color: #4459fc;
	text-decoration: underline;
	font-style: italic;
}

/**适用于IE7表格高亮显示**/
.tbl tr:hover {
	background: #F0F0F0;
}

/**列表文字居左**/
.align_text {
	text-align: left !important;
	padding-left: 3px;
}

/**列表金额居右**/
.align_number {
	text-align: right !important;
	padding-right: 3px;
}

/**三种长度的input**/
.input_short1 {
	border: 1px solid #b3c9d2;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 14px;
	width: 40px !important;
}

.input_short {
	border: 1px solid #6b3c9d2 !important;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 14px;
	width: 80px !important;
}

.input_middle {
	border: 1px solid #b3c9d2;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 14px;
	width: 200px !important;
}

.input_long {
	border: 1px solid #b3c9d2;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 14px;
	width: 96% !important;
}

/**表格样式开始**/ /**标题**/
.tbl_title {
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bolder;
	color: #335CAE;
	vertical-align: middle;
}

/**表头提示性文字注释**/
.tbl_note {
	text-align: left;
	height: 20px;
	font-size: 12px;
	color: #990000;
	margin-left: 10px;
}

span {
	color: red;
}

.tbl_note2 {
	text-align: left;
	height: 20px;
	font-size: 12px;
	color: #000000;
	margin-left: 10px;
}

.tbl_note2 span {
	color: red;
}

/*表单样式1——竖向表单表头固定宽度*/
.tbl_search2 td {
	background: #ffffff;
	font-size: 9pt;
	text-align: left;
	padding-left: 5px;
	line-height: 23px;
	color: #393939;
	width: 32%;
	border-left: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #b3c9d2;
}

.tbl_search2 th {
	background-color: #e8f2f5;
	line-height: 26px;
	color: #3a637a;
	font-size: 9pt;
	width: 20%;
	text-align: left;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	font-weight: normal;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

/**两列不固定标题列宽度**/
.tbl_search2_free th {
	background-color: #e8f2f5;
	line-height: 26px;
	color: #3a637a;
	font-size: 10pt;
	text-align: left;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	font-weight: bold;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.tbl_search2_free td {
	background: #ffffff;
	font-size: 9pt;
	text-align: left;
	padding-left: 5px;
	line-height: 23px;
	color: #393939;
	border-left: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #b3c9d2;
}

/**两列不固定标题列宽度**/ /**两列固定宽度**/
.tbl_search2_fix th {
	background-color: #e8f2f5;
	line-height: 26px;
	color: #3a637a;
	font-size: 9pt;
	text-align: left;
	width: 20%;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	font-weight: normal;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.tbl_search2_fix td {
	background: #ffffff;
	font-size: 9pt;
	text-align: left;
	padding-left: 5px;
	line-height: 23px;
	color: #393939;
	border-left: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #b3c9d2;
}

/**两列固定宽度**/
.tbl_search2 .title {
	text-align: center !important;
	font-weight: bold;
	border-right: 1px solid #b3c9d2;
	background-image: none !important;
}

.tbl_search2,.tbl_search2_free,.tbl_search2_fix {
	margin: 5px 10px 10px 10px;
	color: #465095;
	border-top: 1px solid #b3c9d2;
	border-left: 1px solid #b3c9d2;
	text-align: center;
	width: 98%;
}

.tbl_search2 input,.tbl_search2_free input,.tbl_search2_fix input {
	border: 1px solid #b3c9d2;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 18px;
	width: 200px;
}

.tbl_search2 .noborder,.tbl_search2_free .noborder,.tbl_search2_fix .noborder
	{
	border: 0;
	width: 15px;
	background-color: transparent;
}

.tbl_search2 a:link,.tbl_search2_free a:link,.tbl_search2_fix a:link {
	font-size: 9pt;
	color: #0E79D0;
	text-decoration: underline;
}

.tbl_search2 a:active,.tbl_search2_free a:active,.tbl_search2_fix a:active
	{
	font-size: 9pt;
	color: #0E79D0;
	text-decoration: underline;
}

.tbl_search2 a:visited,.tbl_search2_free a:visited,.tbl_search2_fix a:visited
	{
	font-size: 9pt;
	color: #0E79D0;
	text-decoration: underline;
}

.tbl_search2 a:hover,.tbl_search2_free a:hover,.tbl_search2_fix a:hover
	{
	font-size: 9pt;
	color: red;
	text-decoration: underline;
}

.tbl_search2 td .button,.tbl_search2_free td .button,.tbl_search2_fix td .button
	{
	width: auto;
	height: 18px;
	background: #fff;
	border: 1px solid #667FA4;
	font-size: 9pt;
	color: #333366;
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
}

.tbl_search2 td img {
	vertical-align: middle;
}

.tbl_search2 td radio {
	width: 2%;
	margin: 0;
	padding: 0;
}

.tbl_search2 td a {
	text-decoration: none;
}

.tbl_search2 select,.tbl_search2_free select,.tbl_search2_fix select {
	width: 100px;
}

.tbl_search2 textarea,.tbl_search2_free textarea,.tbl_search2_fix textarea
	{
	width: 98%;
	height: 80px
}

.tbl_search2 radio,.tbl_search2_free radio,.tbl_search2_fix radio {
	width: 2%;
	margin: 0;
	padding: 0;
}

.tbl_search2 img {
	cursor: pointer;
}

.result {
	text-align: left !important;
	border-right: 1px solid #b3c9d2;
	background-color: #F7F8FD;
}

/**表套表**/
.tbl_search2 table {
	margin: 0px 0px 1px -5px;
	width: 100% !important;
}

.tbl_tbl th {
	background-color: #e8f2f5 !important;
	line-height: 26px;
	color: #3a637a;
	font-size: 9pt;
	width: auto !important;
	text-align: left;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	font-weight: normal;
	padding-left: 16px;
	background-image: none !important;
}

.tbl_tbl,.tbl_tbl_fix4 {
	margin: 0px 0px 1px -5px !important;
	color: #465095;
	border-top: 1px solid #b3c9d2;
	border-left: 1px solid #b3c9d2;
	text-align: center;
	width: 100%;
}

.tbl_tbl td {
	background: #ffffff;
	font-size: 9pt;
	text-align: left;
	padding-left: 5px;
	line-height: 23px;
	color: #393939;
	border-left: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #b3c9d2;
}

.tbl_tbl_fix4 th {
	background-color: #e8f2f5 !important;
	line-height: 26px;
	color: #335CAE;
	font-size: 9pt;
	width: 18%;
	text-align: left;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	font-weight: normal;
	padding-left: 16px;
	background-image: none !important;
}

.tbl_tbl_fix4 td {
	background: #ffffff;
	font-size: 9pt;
	text-align: left;
	padding-left: 5px;
	line-height: 23px;
	width: 32%;
	color: #393939;
	border-left: 1px solid #fff;
	border-right: 1px solid #b3c9d2;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #b3c9d2;
}

.tbl_tbl_fix4 input {
	width: 80% !important;
}

/**表套表结束**/ /*列表样式*/
.tbl {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #b3c9d2;
}

.tbl_th {
	position: relative;
	border-right: 1px solid #b3c9d2;
	border-left: 1px solid #fff;
	border-bottom: 0px;
	font-size: 14px;
	font-weight: bold !important;
	color: #3a637a;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	text-align: left !important;
	padding-left: 5px;
	background: url(../images/common/tbl1_thbg.gif) top left repeat-x;
}

.tableHead {
	position: relative;
	height: 29px;
}

.tbl .input_text {
	border: 1px solid #b3c9d2 !important;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 16px;
	width: 120px;
}

.tbl .input_bottom {
	width: auto;
	height: 18px;
	background: #fff !important;
	border: 1px solid #667FA4 !important;
	font-size: 9pt;
	color: #333366;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 3px;
}

.tbl td {
	border-bottom: 1px solid #b3c9d2;
	font-size: 14px;
	color: #666;
	height: 27px;
	text-align: left;
	padding-left: 5px;
}

.tbl_td_left {
	border-bottom: 1px solid #b3c9d2;
	font-size: 14px;
	color: #666;
	height: 27px;
	text-align: left;
	padding-left: 5px;
	vertical-align: middle;
}

.tbl_td_right {
	border-bottom: 1px solid #b3c9d2;
	font-size: 14px;
	color: #666;
	height: 27px;
	text-align: right;
	padding-right: 5px;
	vertical-align: middle;
}

/**带滚动条的表格标题行**/
.tScroll {
	white-space: nowrap;
	display: block;
	background-color: #ffffff;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
	cursor: default;
	width: 99%;
}

/*新增按钮行/底部保存按钮行样式*/
.btu {
	text-align: center !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#btu_new {
	text-align: right !important;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}

#btu_new img {
	cursor: pointer;
	margin-right: 5px;
}

.btu_add {
	text-align: left;
	padding-left: 10px;
}

.btu_input,.btu_add_input,.btu_new_input {
	width: auto;
	height: 20px;
	border: 1px solid #637BA5 !important;
	font-size: 9pt;
	color: #313163;
	line-height: 18px;
	vertical-align: middle;
	margin-left: 5px;
	background: url(../images/common/btn.gif) repeat-x;
	cursor: pointer;
}

.tblbtu_input {
	width: 50px !important;
	height: 20px !important;
	border: 1px solid #637BA5 !important;
	font-size: 9pt;
	color: #313163;
	line-height: 20px !important;
	vertical-align: middle !important;
	margin-left: 5px;
	background: url(../images/common/btn.gif) repeat-x;
	cursor: pointer;
}

/**弹出页面**/
.blank_tbl {
	width: 400px;
	height: 187px;
	background: url(../images/common/index_blanktblbg.gif) top left repeat-x
		;
	border: 1px solid #94b5be;
	padding: 1px;
}

.blank_tbl_title {
	background: url(../images/common/index_blanktbl_titlebg.gif) top left
		repeat-x;
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
}

.blank_table {
	width: 80%;
	margin: 15px auto 0px;
	font-size: 14px;
	color: #3a637a !important;
}

/**翻页**/
.linepage {
	margin: 0px;
	font-size: 12px;
	color: black;
	text-align: right;
	height: 27px;
	width: 100%;
	float: right;
	vertical-align: middle;
	line-height: 27px;
	background: url(../images/common/linepage_bg.gif) top left repeat-x;
	border: 1px solid #b3c9d2;
}

.linepage a:link {
	color: #000;
	text-decoration: none;
}

.linepage a:active {
	color: #000;
	text-decoration: none;
}

.linepage a:visited {
	color: #000;
	text-decoration: none;
}

.linepage a:hover {
	color: #FF7800;
	text-decoration: underline;
}

.linepage1 {
	font-size: 12px;
	color: black;
	text-align: right;
	height: 27px;
	width: 100%;
	float: right;
	line-height: 27px;
	background: url(../images/common/linepage_bg.gif) top left repeat-x;
	border: 1px solid #b3c9d2;
	border-top: 0px;
}

.linepage1 a:link {
	color: #000;
	text-decoration: none;
}

.linepage1 a:active {
	color: #000;
	text-decoration: none;
}

.linepage1 a:visited {
	color: #000;
	text-decoration: none;
}

.linepage1 a:hover {
	color: #FF7800;
	text-decoration: underline;
}

/**翻页结束**/ /**查询样式**/
.searchTbl {
	width: 98%;
	margin: 10px auto;
	padding-left: 10px;
	font-size: 14px;
	color: #3a637a;
	text-align: left;
}

.searchTbl_input {
	background: url(../images/common/searchtbl_inputbg.gif) top left
		repeat-x;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	border: 1px solid #b7bcc0;
	font-size: 12px;
	color: #000;
	padding-left: 5px;
}

.searchTbl_shortinput {
	width: 140px !important;
	background: url(../images/common/searchtbl_inputbg.gif) top left
		repeat-x;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	border: 1px solid #b7bcc0;
	font-size: 12px;
	color: #000;
	padding-left: 2px;
}

.searchTbl_select {
	background: url(../images/common/searchtbl_inputbg.gif) top left
		repeat-x;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	border: 1px solid #b7bcc0;
	font-size: 12px;
	color: #000;
	padding-left: 5px;
}

.searchTbl table td {
	height: 35px;
	font-size: 14px;
}

.searchTbl input {
	border: 1px solid #b3c9d2;
	background-color: white;
	font-size: 12px;
	color: black;
	height: 18px;
}

/**分类表格表头**/
.fen_div {
	width: 98%;
	margin: 20px auto 10px;
	background: #ffffff;
	border: 1px solid #b9c5c9;
	padding: 15px 0px 10px 0px;
}

.fen_div_title {
	z-index: 90;
	width: 15%;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background: url(../images/common/fen_divtitle.gif) top left repeat-x;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
	float: left;
	display: inline;
}

/**斑马线划过**/
.barry1 {
	background: #ffffff;
	height: 29px;
}

.barry0 {
	background: #f5f9fb;
	height: 29px;
}

.hover {
	background: #fffef5;
	height: 29px;
}

/**滚动tbl**/
.title {
	BORDER-RIGHT: #b3c9d2 1px solid;
	font-size: 14px;
	font-weight: bold !important;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	color: #3a637a;
	background: url(../images/common/tbl1_thbg.gif) top left repeat-x;
	PADDING-BOTTOM: 4px;
	OVERFLOW: hidden;
	BORDER-LEFT: #fff 1px solid;
	CURSOR: hand;
	BORDER-BOTTOM: #b3c9d2 1px solid;
	WHITE-SPACE: nowrap;
	border-top: 1px solid #b3c9d2;
}

.title3 {
	BORDER-RIGHT: #b3c9d2 1px solid;
	font-size: 14px;
	font-weight: bold !important;
	BORDER-TOP: #fff 1px solid;
	PADDING-LEFT: 5px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	color: #3a637a;
	background: url(../images/common/tbl1_thbg3.gif) top left repeat-x;
	PADDING-BOTTOM: 4px;
	OVERFLOW: hidden;
	BORDER-LEFT: #fff 1px solid;
	CURSOR: hand;
	BORDER-BOTTOM: #b3c9d2 1px solid;
	WHITE-SPACE: nowrap;
	border-top: 1px solid #b3c9d2;
}

#tbl_tdscroll {
	width: 100%;
}

#tbl_tdscroll div {
	PADDING-LEFT: 5px;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
	BACKGROUND: #fff;;
	OVERFLOW: hidden;
	BORDER-LEFT: #fff 1px solid;
	BORDER-BOTTOM: #b3c9d2 1px solid;
	WHITE-SPACE: nowrap;
	font-size: 14px;
	color: #666;
}