body{
	margin:0;
	padding:0;
	background:#FFFFFF;
	text-align:center;}
*{ margin:0px; padding:0px;}	

html a:link{color:#424242;text-decoration: none;}
html a:active{  color:#424242;text-decoration: none;}
html a:visited{color:#424242;text-decoration: none;}
html a:hover{    color:#0860A8;text-decoration: underline;}	

/**整体框架**/
#index_frame{ width:100%; height:100%; margin:0px auto; background: url(../images/common/index_maintopbg.jpg) top left no-repeat;}
/**top**/
#index_top{ width:100%; height:76px; background:url(../images/common/index_topbg.jpg) top left repeat-x;}
#index_top ul{ list-style:none; margin:0px; padding:0px;}
#index_topleft{ width: 576px; height:76px; display:inline; float:left; background:url(../images/common/index_topleft.jpg) top left no-repeat;}
#index_topright{ width:427px; height:76px; display:inline; float:right; background:url(../images/common/index_topright.jpg) top left no-repeat;}
#index_topright span{
	width:350px;
	position:relative;
	font-size:12px;
	color:#ecf8fd;
	font-weight:bold;
	margin-top:10px;
	margin-left:25px;
}

#index_topright span a:link{color:#ecf8fd;text-decoration: none;}
#index_topright span a:active{  color:#ecf8fd;text-decoration: none;}
#index_topright span a:visited{color:#ecf8fd;text-decoration: none;}
#index_topright span a:hover{    color:#ffffff;text-decoration: underline;}	


.index_top{width:100%; height:56px;}
.index_top td{ background:url(../images/common/index_top_bg.jpg) repeat-x;}
.index_top th{ background: url(../images/common/index_top_btn.jpg) right top no-repeat; width:256px;}
.index_top_btn{ background:none !important; font-size:12px; font-weight:normal !important; color:#ffffff; width:90%; text-align:left;margin-top:3px;}

.index_top_btn td{ background:none !important;padding-left:20px;}
.index_top_btn td a:link{color:#fff;text-decoration: none;}
.index_top_btn td a:active{  color:#fff;text-decoration: none;}
.index_top_btn td a:visited{color:#fff;text-decoration: none;}
.index_top_btn td a:hover{    color:#FF7800;text-decoration: none;}

/**时间显示**/
.index_date{ display:inline;height:34px;font-size:12px; color:#fff; font-weight:normal !important; margin-top:15px;}

/**时间显示**/
.time_zone{ background:url(../images/common/time_bg.gif) repeat-x left top; height:34px;font-size:13px; color:#fff; line-height:34px; vertical-align:middle}
.time_zone img{ margin-left:3px; margin-right:10px;line-height:34px; vertical-align:middle;}
/**导航**/
.menu{ width:100%; height:24px; background:url(../images/common/index_menu_bg.jpg) repeat-x;}
.menu td{ font-size:12px; color:#3A5AA7;text-align:left; vertical-align:middle; font-weight:bold;}

.menu th{ background:url(../images/common/index_menu_right.jpg) right top no-repeat;width:279px; font-size:12px; color:#000; text-align: right; padding-right:22px; font-weight:normal;}
.menu th a:link{color:#000;text-decoration: none;}
.menu th a:active{  color:#1074BB;text-decoration: none; font-weight: bold;}
.menu th a:visited{color:#000;text-decoration: none;}
.menu th a:hover{    color:#FF7800;text-decoration: none;}
/**树菜单**/
.tree_tbl{ background:url(../images/common/index_menu_tree_bg.jpg) left bottom no-repeat; widows:213px;}


/**工作区头部图片**/
#site{width:98%; height:30px; font-size:14px; color:#000; text-align:left; margin:0px auto;padding-left:20px;line-height:30px; vertical-align:middle; background:url(../images/common/site_cion.gif) 5px 50% no-repeat; border-bottom:1px solid #375d9c;}
#site span{ font-weight:bold; !important; color:#000;}
#site a:link{color:#000; text-decoration: none;}
#site a:active{  color:#000;text-decoration: none;}
#site a:visited{color:#000;text-decoration: none;}
#site a:hover{    color:#000;text-decoration: none;}
/**首页tbl**/
#welcome{ width:760px; height:100%; margin:0px auto; background:url(../images/common/index_welcombg2.jpg) 421px left no-repeat;}
.welcomeLink{ width:100%; height:421; margin:0px auto; background:url(../images/common/index_welcombgLink.jpg) no-repeat;}
.welcomeLinkTxt{
	width:320px;
	height:121;
	margin:235 0 0 -150;
	line-height: 150%;
}

/**弹出窗口**/
#warn{ width:444px; height:183px;background:url(../images/common/warn_bg.jpg) top left repeat-x; background-color:#ffffff;}
#warn_text{ font-size:14px !important; color:#957171; text-align:left; line-height:1.6; font-weight:bold; padding-left:20px; padding-top:30px;}
.warnning_btn{ width:87px; height:31px; font-size:14px; color:#ffffff; text-align:center; background:url(../images/common/warning_btn.jpg) top left no-repeat; border:none; cursor:pointer;}
/**底部**/
.bottom{  height:50px; font-size:12px; color:#fff; text-align:center !important;}

.tree_tes{ font-size:12px; font-weight:normal; color:#000; text-align:left;}
.tree_tes a:link{color:#000; text-decoration: none;}
.tree_tes a:active{  color:#000;text-decoration: none;}
.tree_tes a:visited{color:#000;text-decoration: none;}
.tree_tes a:hover{    color:#3a637a;text-decoration:underline;}
