/**µ¼º½**/
#menu_div{ width:100%; height:29px; background:url(../images/common/bg_amethyst.gif) repeat-x left top;}
.blue_nav1 {
	line-height:29px;
	margin-bottom:0px!important;
	margin-bottom:5px !important;

	
}
.blue_nav1 ul {
	margin:0;
	padding:0px;
	margin-left:30px;
	list-style:none;
	font-size: 12px;
}
.blue_nav1 li {
	display:inline;
	padding:0;
	line-height:29px;
	margin-left:10px;
}
.blue_nav1 a {
	float:left;
	background:url(../images/common/menu_amethyst_left.gif) no-repeat left top;
	margin:0;
	padding-left:10px;
	text-decoration:none;
	font-size:14px;
}
.blue_nav1 a span {
	float:left;
	display:block;
	background:url(../images/common/menu_amethyst_right.gif) no-repeat right top;
	padding:0px 20px 0px 2px;
	color:#467285;
	font-size:14px;
	font-weight:bold;
	float:none;text-decoration:none !important;
}

.blue_nav1 a:hover span {
	 text-decoration:none !important;font-size:14px;color:#0562e1;
}
.blue_nav1 a:hover {text-decoration:none !important;font-size:14px;color:#ffffff;
}
.blue_nav1_ontab a {
	float:left;
	background:url(../images/common/menu_amethyst_left.gif) no-repeat left top!important;
	margin:0!important;
	padding:0 0 0 8px!important;
	background-position:0% -29px!important;
	text-decoration:none !important;
	color:#ffffff !important;
	font-size:14px;
} 
.blue_nav1_ontab a  span{
	float:left!important;
	display:block!important;
	background:url(../images/common/menu_amethyst_right.gif) no-repeat right top!important;
	background-position:100% -29px!important;
	padding:3px 8px -3px 5px!important;
	color:#ffffff !important;
	text-decoration:none !important;
	font-size:14px;
	font-weight:bold;

}

.blue_nav1_ontab a:hover span {
	color:#0562e1 !important;
	font-size:14px;

	text-decoration:none !important;
}
/**µ¼º½½áÊø**/



